/*navigation.css*/
ul.nav {
	display : block;
	list-style-type : none;
	padding : 0px;
	margin : 0px;
	background-color : #F8F8F8;
	border : 1px solid #CCCCCC;
	text-align : left;
}

ul.nav > li.nav-item{
	min-width : 100px;
	height : 60px;
	line-height : 60px;
	color : #333333;
	text-align : center;
	display : inline-block;
	position: relative;
	cursor : pointer;
	zoom:1;
	/*effect*/		
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	-ms-transition: background 0.2s;
	-o-transition: background 0.2s;
	transition: background 0.2s;
}

ul.nav-inline > li.nav-item{
	display : inline-block;
}

ul.nav-block > li.nav-item{
	display : block;
}

ul.nav-inline > li.nav-divider{
   	border-right: 1px solid #CCCCCC;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    position: absolute;
    z-index : 1;
}

ul.nav-block > li.nav-divider{
	border-bottom : 1px solid #CCCCCC;
}

ul.nav > li.nav-item:hover{
	background : #EBEBEB;
}

ul.nav > li.nav-item:hover ul.nav{
	background : #FFFFFF;	
}

ul.nav > li.nav-item-active{
	background : #DEDEDE;
}

ul.nav > li.nav-item >a{
	display:block;
	text-decoration:none;
	color : #333333;
}

ul.nav > li.nav-item:hover > .popover{
	visibility : visible;
}

.popover{
  min-width : 180px;
  position: absolute;
  z-index: 999;
  visibility: hidden;
}

.popover-top-left{
  left : 0px;
  bottom : 100%;
}

.popover-top-right{
  right : 0px;
  bottom : 100%;
}

.popover-right-top{
  top : 0px;
  left : 100%;
}

.popover-right-bottom{
  bottom : 0px;
  left : 100%;
}

.popover-bottom-left{
  top : 100%;
  left : 0px;
}

.popover-bottom-right{
  top : 100%;
  right : 0px;
}

.popover-left-top{
  top : 0px;
  right : 100%;
}

.popover-left-bottom{
  top : 0px;
  right : 100%;
}

