/*navigation.css*/
ul.nav {
	display : block;
	list-style-type : none;
	padding : 0px;
	margin : 0px;
	background-color : #F8F8F8;
	border : 1px solid #CCCCCC;
	text-align : left;
}

ul.nav > li.nav-item{
	min-width : 100px;
	height : 60px;
	line-height : 60px;
	color : #333333;
	text-align : center;
	display : inline-block;
	position: relative;
	cursor : pointer;
	zoom:1;
	/*effect*/		
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	-ms-transition: background 0.2s;
	-o-transition: background 0.2s;
	transition: background 0.2s;
}

ul.nav-h > li.nav-item{
	display : inline-block;
}

ul.nav-v > li.nav-item{
	display : block;
}

ul.nav > li.nav-item:hover{
	background : #EBEBEB;
}

ul.nav > li.nav-item:hover ul.nav{
	background : #FFFFFF;	
}

ul.nav > li.nav-item-active{
	background : #DEDEDE;
}

ul.nav > li.nav-item >a{
	display:block;
	text-decoration:none;
	color : #333333;
}

ul.nav > li.nav-item >.popover{
  position: absolute;
  z-index: 999;
  visibility: hidden;
}

ul.nav > li.nav-item >.popover-tl{
  left : 0px;
  bottom : 100%;
}

ul.nav > li.nav-item >.popover-tr{
  right : 0px;
  bottom : 100%;
}

ul.nav > li.nav-item >.popover-rt{
  top : 0px;
  left : 100%;
}

ul.nav > li.nav-item >.popover-rb{
  bottom : 0px;
  left : 100%;
}

ul.nav > li.nav-item >.popover-bl{
  top : 100%;
  left : 0px;
}

ul.nav > li.nav-item >.popover-br{
  top : 100%;
  left : 0px;
}

ul.nav > li.nav-item >.popover-lt{
  top : 0px;
  right : 100%;
}

ul.nav > li.nav-item >.popover-lb{
  top : 0px;
  right : 100%;
}

ul.nav > li.nav-item:hover > .popover{
	visibility : visible;
}