<!DOCTYPE html>
<html>
   <head>
   <title>ipt</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="description" content="">
   <meta name="author" content="hongchun.li">
   <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
   <link  href="../../themes/css/basic.css" type="text/css" rel="stylesheet"/>
   <link  href="../../themes/css/layout/fixed-layout.css?v=12" type="text/css" rel="stylesheet"/>
 </head>
 <body>
 	<div id="header">
 		<div id="header-content">
 		</div>
 	</div>
 	
 	<div id="main">
 		<div id="sidebar" class="fn-fl">
 		</div>
 		<div id="mainContent" class="fn-fr">
 		</div>
 		<div class="fn-clear"></div>
 	</div>
  <div id="footer">
  	© 2013 ipt.com 版权所有	
  </div>
 </body>
</html>