/* function set */
/* typography */
/* function */
/* responsive-utility*/
/* layout-grid*/
/* form */
/**
* ==widget
*/
/* =panel */
/* =layout-grid  */
.grid12 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}
.grid12 .row,
.grid12 row-fluid {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}
.grid12 [class*=span] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}
.grid12 .row [class*=span],
.grid12 .row-fluid [class*=span] {
  float: left;
  1padding-left: 10px;
  1padding-right: 10px;
}
.grid12 .row:after,
.grid12 .row-fluid:after {
  content: "";
  display: block;
  clear: both;
}
.grid12 .row .span1 {
  width: 80px;
}
.grid12 .row .span2 {
  width: 160px;
}
.grid12 .row .span3 {
  width: 240px;
}
.grid12 .row .span4 {
  width: 320px;
}
.grid12 .row .span5 {
  width: 400px;
}
.grid12 .row .span6 {
  width: 480px;
}
.grid12 .row .span7 {
  width: 560px;
}
.grid12 .row .span8 {
  width: 640px;
}
.grid12 .row .span9 {
  width: 720px;
}
.grid12 .row .span10 {
  width: 800px;
}
.grid12 .row .span11 {
  width: 880px;
}
.grid12 .row .span12 {
  width: 960px;
}
.grid12 .row .offset1 {
  margin-left: 80px;
}
.grid12 .row .offset2 {
  margin-left: 160px;
}
.grid12 .row .offset3 {
  margin-left: 240px;
}
.grid12 .row .offset4 {
  margin-left: 320px;
}
.grid12 .row .offset5 {
  margin-left: 400px;
}
.grid12 .row .offset6 {
  margin-left: 480px;
}
.grid12 .row .offset7 {
  margin-left: 560px;
}
.grid12 .row .offset8 {
  margin-left: 640px;
}
.grid12 .row .offset9 {
  margin-left: 720px;
}
.grid12 .row .offset10 {
  margin-left: 800px;
}
.grid12 .row .offset11 {
  margin-left: 880px;
}
.grid12 .row .offset12 {
  margin-left: 960px;
}
.grid12 .row-fluid .span1 {
  width: 8.3333%;
}
.grid12 .row-fluid .span2 {
  width: 16.6666%;
}
.grid12 .row-fluid .span3 {
  width: 24.9999%;
}
.grid12 .row-fluid .span4 {
  width: 33.3332%;
}
.grid12 .row-fluid .span5 {
  width: 41.6665%;
}
.grid12 .row-fluid .span6 {
  width: 50%;
}
.grid12 .row-fluid .span7 {
  width: 58.3333%;
}
.grid12 .row-fluid .span8 {
  width: 66.6666%;
}
.grid12 .row-fluid .span9 {
  width: 74.9999%;
}
.grid12 .row-fluid .span10 {
  width: 83.3332%;
}
.grid12 .row-fluid .span11 {
  width: 91.6665%;
}
.grid12 .row-fluid .span12 {
  width: 100%;
}
.grid12 .row-fluid .offset1 {
  margin-left: 8.3333%;
}
.grid12 .row-fluid .offset2 {
  margin-left: 16.6666%;
}
.grid12 .row-fluid .offset3 {
  margin-left: 24.9999%;
}
.grid12 .row-fluid .offset4 {
  margin-left: 33.3332%;
}
.grid12 .row-fluid .offset5 {
  margin-left: 41.6665%;
}
.grid12 .row-fluid .offset6 {
  margin-left: 50%;
}
.grid12 .row-fluid .offset7 {
  margin-left: 58.3333%;
}
.grid12 .row-fluid .offset8 {
  margin-left: 66.6666%;
}
.grid12 .row-fluid .offset9 {
  margin-left: 74.9999%;
}
.grid12 .row-fluid .offset10 {
  margin-left: 83.3332%;
}
.grid12 .row-fluid .offset11 {
  margin-left: 91.6665%;
}
.grid12 .row-fluid .offset12 {
  margin-left: 100%;
}
