/* function set */
/* typography */
/* function */
/* responsive-utility*/
/* layout-grid*/
/* form */
/**
* ==widget
*/
/* =panel */
/*reponsive-util.css*/
/*
* =visible
*/
/* Phone landscape and smaller */
@media (max-width: 767px) {
  .show-sm-block {
    display: block !important;
  }
  .show-sm-inline {
    display: inline !important;
  }
  .show-sm-inline-block {
    display: inline-block !important;
  }
}
/* Only tablets portrait */
@media (min-width: 768px) and (max-width: 959px) {
  .show-md-block {
    display: block !important;
  }
  .show-md-inline {
    display: inline !important;
  }
  .show-md-inline-block {
    display: inline-block !important;
  }
}
/* Desktop and bigger */
@media (min-width: 960px) {
  .show-lg-block {
    display: block !important;
  }
  .show-lg-inline {
    display: inline !important;
  }
  .show-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-sm-block {
    display: none !important;
  }
  .hidden-sm-inline {
    display: none !important;
  }
  .hidden-sm-inline-block {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .hidden-md-block {
    display: none !important;
  }
  .hidden-md-inline {
    display: none !important;
  }
  .hidden-md-inline-block {
    display: none !important;
  }
}
@media (min-width: 960px) {
  .hidden-lg-block {
    display: none !important;
  }
  .hidden-lg-inline {
    display: none !important;
  }
  .hidden-lg-inline-block {
    display: none !important;
  }
}
/*
* =print
*/
@media print {
  .show-print-block {
    display: block !important;
  }
  .show-print-inline {
    display: inline !important;
  }
  .show-print-inline-block {
    display: inline-block !important;
  }
  .hidden-print {
    display: none;
  }
}
