@charset "utf-8";
/* =global */
html {
	height: 100%;
}

body {
	font-size: 14px;
	line-height: 22px;
	background: url("../images/default/defaultBg.png") no-repeat center
		center transparent;
	font-family: "微软雅黑", "Microsoft YaHei", "宋体", verdana;
}

a:link {
	color: #1c1c1c;
	text-decoration: none;
}

a:visited {
	color: #1c1c1c;
	text-decoration: none;
}

a:hover {
	color: #1c1c1c;
	text-decoration: none;
}

a:active {
	color: #1c1c1c;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}

h1 {
	font-size: 36px;
	color: #454545;
}

h2 {
	font-size: 24px;
	color: #454545;
}

h3 {
	font-size: 18px;
	color: #454545;
}

h4 {
	font-size: 16px;
	color: #454545;
}

h5 {
	font-size: 14px;
	color: #454545;
}

h6 {
	font-size: 12px;
	color: #454545;
}