@import "config.less";

/*function.css*/
.fn-clear {
	clear: both;
}

.fn-fl {
	float: left;
}

.fn-fr {
	float: right;
}

/* for text*/
.fn-t-left {
	text-align : left;	
}

.fn-t-right {
	text-align : right;	
}

.fn-t-center {
	text-align : center;	
}

.fn-t-muted {
    color: @text-color-muted;	
}

.fn-t-warning {
    color : @text-color-warning;
}

.fn-t-error {
    color : @text-color-error;
}

.fn-t-info {
	color: @text-color-info	
}

.fn-t-success {
	color: @text-color-success;
}

.fn-t-mini {
	font-size : @text-size-mini ;
}

.fn-t-small {
    font-size: @text-size-small;
}

.fn-t-primary{
    font-size : @text-size-primary;
}

.fn-t-large {
	font-size : @text-size-large;
}

.fn-t-xlarge {
	font-size : @text-size-xlarge;
}

.fn-t-normal {
    font-weight: normal;
}

.fn-t-bold {
	font-weight : bold;	
}


.fn-m10 {
	margin: 10px;
}

.fn-mt10 {
	margin-top: 10px;
}

.fn-mr10 {
	margin-right: 10px;
}

.fn-mb10 {
	margin-bottom: 10px;
}

.fn-ml10 {
	margin-left: 10px;
}

.fn-m20 {
	margin: 20px;
}

.fn-mt20 {
	margin-top: 20px;
}

.fn-mr20 {
	margin-right: 20px;
}

.fn-mb20 {
	margin-bottom: 20px;
}

.fn-ml20 {
	margin-left: 20px;
}

.fn-p10{
	padding : 10px;
}

.fn-pt10 {
	padding-top: 10px;
}

.fn-pr10 {
	padding-right: 10px;
}

.fn-pb10 {
	padding-bottom: 10px;
}

.fn-pl10 {
	padding-left: 10px;
}

.fn-p20 {
	padding : 20px;
}

.fn-pt20 {
	padding-top: 20px;
}

.fn-pr20 {
	padding-right: 20px;
}

.fn-pb20 {
	padding-bottom: 20px;
}

.fn-pl20 {
	padding-left: 20px;
}

.fn-br {
	.border-radius(@border-radius-default);
}

.fn-br-tl{
	.border-radius(@border-radius-default , 0px , 0px , 0px);
}

.fn-br-tr{
	.border-radius(@border-radius-default , 5px , 0px , 0px);
}

.fn-br-bl{
	.border-radius(0px , 0px , @border-radius-default , 0px);
}

.fn-br-br{
	.border-radius(0px , 0px , 0px , @border-radius-default);
}

.fn-box-b {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}