@import "config.less";

/* =layout-grid  */
.grid {
	.box-sizing-borderbox;
	display : block;

	.row , .row-fluid{
		.box-sizing-borderbox;
		display : block;
	}
	
	[class*=col-] {
		.box-sizing-borderbox;
		display : block;	
	}
}

.grid { 
	.row:after,
	.row-fluid:after{
		content: "";
		display: block;
		clear: both;
	}
}

@media (max-width: @screen-xs-max) {
	.grid {
		.row ,
		.row-fluid{ 
			.col-xs-{
				&1 ,
				&2 ,
				&3 ,
				&4 ,
				&5 ,
				&6 ,
				&7 ,
				&8 ,
				&9 ,
				&10 ,
				&11 ,
				&12 { 
					float : left;
					1padding-left: @gutter/2px;
					1padding-right : @gutter/2px;
				}
			}
		}
	}
	
	.grid {
		.row ,
		.row-fluid{ 
			.col-xs-{
				&1{ width : 8.3333%; }
				&2{ width : 16.6666%; }
				&3{ width : 24.9999%; }
				&4{ width : 33.3332%; }
				&5{ width : 41.6665%; }
				&6{ width : 50%; }
				&7{ width : 58.3333%; }
				&8{ width : 66.6666%; }
				&9{ width : 74.9999%; }
				&10{ width : 83.3332%; }
				&11{ width : 91.6665%; }
				&12{ width : 100%; }
			}
			
			.col-xs-{
				&offset-1{  margin-left  : 8.3333%; }
				&offset-2{  margin-left  : 16.6666%; }
				&offset-3{  margin-left  : 24.9999%; }
				&offset-4{  margin-left  : 33.3332%; }
				&offset-5{  margin-left  : 41.6665%; }
				&offset-6{  margin-left  : 50%; }
				&offset-7{  margin-left  : 58.3333%; }
				&offset-8{  margin-left  : 66.6666%; }
				&offset-9{  margin-left  : 74.9999%; }
				&offset-10{  margin-left  : 83.3332%; }
				&offset-11{  margin-left  : 91.6665%; }
				&offset-12{  margin-left  : 100%; }
			}
		}
	}
}

/* Small devices Tablets  */
@media (min-width: @screen-sm-min ){
	.grid {
		.row ,
		.row-fluid{ 
			.col-sm-{
				&1 ,
				&2 ,
				&3 ,
				&4 ,
				&5 ,
				&6 ,
				&7 ,
				&8 ,
				&9 ,
				&10 ,
				&11 ,
				&12 { 
					float : left;
					1padding-left: @gutter/2px;
					1padding-right : @gutter/2px;
				}
			}
		}
	}
	
	.grid {
		.row{ 
			.col-sm-{
				&1{ width : @grid-width-sm-based/12; }
				&2{ width : (@grid-width-sm-based/12)*2; }
				&3{ width : (@grid-width-sm-based/12)*3;}
				&4{ width : (@grid-width-sm-based/12)*4;}
				&5{ width : (@grid-width-sm-based/12)*5;}
				&6{ width : (@grid-width-sm-based/12)*6;}
				&7{ width : (@grid-width-sm-based/12)*7;}
				&8{ width : (@grid-width-sm-based/12)*8;}
				&9{ width : (@grid-width-sm-based/12)*9;}
				&10{ width : (@grid-width-sm-based/12)*10;}
				&11{ width : (@grid-width-sm-based/12)*11;}
				&12{ width : (@grid-width-sm-based/12)*12; }
				
				&offset-1{ margin-left : @grid-width-sm-based/12; }
				&offset-2{ margin-left  : (@grid-width-sm-based/12)*2; }
				&offset-3{ margin-left  : (@grid-width-sm-based/12)*3;}
				&offset-4{ margin-left  : (@grid-width-sm-based/12)*4;}
				&offset-5{ margin-left  : (@grid-width-sm-based/12)*5;}
				&offset-6{ margin-left  : (@grid-width-sm-based/12)*6;}
				&offset-7{ margin-left  : (@grid-width-sm-based/12)*7;}
				&offset-8{ margin-left  : (@grid-width-sm-based/12)*8;}
				&offset-9{ margin-left  : (@grid-width-sm-based/12)*9;}
				&offset-10{ margin-left  : (@grid-width-sm-based/12)*10;}
				&offset-11{ margin-left  : (@grid-width-sm-based/12)*11;}
				&offset-12{ margin-left  : (@grid-width-sm-based/12)*12; }
			}
		}
	}
	
	.grid {
		.row-fluid{ 
			.col-sm-{
				&1{ width : 8.3333%; }
				&2{ width : 16.6666%; }
				&3{ width : 24.9999%; }
				&4{ width : 33.3332%; }
				&5{ width : 41.6665%; }
				&6{ width : 50%; }
				&7{ width : 58.3333%; }
				&8{ width : 66.6666%; }
				&9{ width : 74.9999%; }
				&10{ width : 83.3332%; }
				&11{ width : 91.6665%; }
				&12{ width : 100%; }
			}
			
			.col-sm-{
				&offset-1{  margin-left  : 8.3333%; }
				&offset-2{  margin-left  : 16.6666%; }
				&offset-3{  margin-left  : 24.9999%; }
				&offset-4{  margin-left  : 33.3332%; }
				&offset-5{  margin-left  : 41.6665%; }
				&offset-6{  margin-left  : 50%; }
				&offset-7{  margin-left  : 58.3333%; }
				&offset-8{  margin-left  : 66.6666%; }
				&offset-9{  margin-left  : 74.9999%; }
				&offset-10{  margin-left  : 83.3332%; }
				&offset-11{  margin-left  : 91.6665%; }
				&offset-12{  margin-left  : 100%; }
			}
		}
	}
}

/* Medium devices Desktops  */
@media (min-width: @screen-md-min) {

	.grid {
		.row ,
		.row-fluid{ 
			.col-md-{
				&1 ,
				&2 ,
				&3 ,
				&4 ,
				&5 ,
				&6 ,
				&7 ,
				&8 ,
				&9 ,
				&10 ,
				&11 ,
				&12 { 
					float : left;
					1padding-left: @gutter/2px;
					1padding-right : @gutter/2px;
				}
			}
		}
	}
	
	.grid {
		.row{ 
			.col-md-{
				&1{ width : @grid-width-md-based/12; }
				&2{ width : (@grid-width-md-based/12)*2; }
				&3{ width : (@grid-width-md-based/12)*3;}
				&4{ width : (@grid-width-md-based/12)*4;}
				&5{ width : (@grid-width-md-based/12)*5;}
				&6{ width : (@grid-width-md-based/12)*6;}
				&7{ width : (@grid-width-md-based/12)*7;}
				&8{ width : (@grid-width-md-based/12)*8;}
				&9{ width : (@grid-width-md-based/12)*9;}
				&10{ width : (@grid-width-md-based/12)*10;}
				&11{ width : (@grid-width-md-based/12)*11;}
				&12{ width : (@grid-width-md-based/12)*12; }
				
				&offset-1{ margin-left : @grid-width-md-based/12; }
				&offset-2{ margin-left  : (@grid-width-md-based/12)*2; }
				&offset-3{ margin-left  : (@grid-width-md-based/12)*3;}
				&offset-4{ margin-left  : (@grid-width-md-based/12)*4;}
				&offset-5{ margin-left  : (@grid-width-md-based/12)*5;}
				&offset-6{ margin-left  : (@grid-width-md-based/12)*6;}
				&offset-7{ margin-left  : (@grid-width-md-based/12)*7;}
				&offset-8{ margin-left  : (@grid-width-md-based/12)*8;}
				&offset-9{ margin-left  : (@grid-width-md-based/12)*9;}
				&offset-10{ margin-left  : (@grid-width-md-based/12)*10;}
				&offset-11{ margin-left  : (@grid-width-md-based/12)*11;}
				&offset-12{ margin-left  : (@grid-width-md-based/12)*12; }
			}
		}
	}
	
	.grid {
		.row-fluid{ 
			.col-md-{
				&1{ width : 8.3333%; }
				&2{ width : 16.6666%; }
				&3{ width : 24.9999%; }
				&4{ width : 33.3332%; }
				&5{ width : 41.6665%; }
				&6{ width : 50%; }
				&7{ width : 58.3333%; }
				&8{ width : 66.6666%; }
				&9{ width : 74.9999%; }
				&10{ width : 83.3332%; }
				&11{ width : 91.6665%; }
				&12{ width : 100%; }
			}
			
			.col-md-{
				&offset-1{  margin-left  : 8.3333%; }
				&offset-2{  margin-left  : 16.6666%; }
				&offset-3{  margin-left  : 24.9999%; }
				&offset-4{  margin-left  : 33.3332%; }
				&offset-5{  margin-left  : 41.6665%; }
				&offset-6{  margin-left  : 50%; }
				&offset-7{  margin-left  : 58.3333%; }
				&offset-8{  margin-left  : 66.6666%; }
				&offset-9{  margin-left  : 74.9999%; }
				&offset-10{  margin-left  : 83.3332%; }
				&offset-11{  margin-left  : 91.6665%; }
				&offset-12{  margin-left  : 100%; }
			}
		}
	}
}

/* Desktop and bigger */
@media (min-width: @screen-lg-min) {
	.grid {
		.row ,
		.row-fluid{ 
			.col-lg-{
				&1 ,
				&2 ,
				&3 ,
				&4 ,
				&5 ,
				&6 ,
				&7 ,
				&8 ,
				&9 ,
				&10 ,
				&11 ,
				&12 { 
					float : left;
					1padding-left: @gutter/2px;
					1padding-right : @gutter/2px;
				}
			}
		}
	}
	
	.grid {
		.row{ 
			.col-lg-{
				&1{ width : @grid-width-lg-based/12; }
				&2{ width : (@grid-width-lg-based/12)*2; }
				&3{ width : (@grid-width-lg-based/12)*3;}
				&4{ width : (@grid-width-lg-based/12)*4;}
				&5{ width : (@grid-width-lg-based/12)*5;}
				&6{ width : (@grid-width-lg-based/12)*6;}
				&7{ width : (@grid-width-lg-based/12)*7;}
				&8{ width : (@grid-width-lg-based/12)*8;}
				&9{ width : (@grid-width-lg-based/12)*9;}
				&10{ width : (@grid-width-lg-based/12)*10;}
				&11{ width : (@grid-width-lg-based/12)*11;}
				&12{ width : (@grid-width-lg-based/12)*12; }
				
				&offset-1{ margin-left : @grid-width-lg-based/12; }
				&offset-2{ margin-left  : (@grid-width-lg-based/12)*2; }
				&offset-3{ margin-left  : (@grid-width-lg-based/12)*3;}
				&offset-4{ margin-left  : (@grid-width-lg-based/12)*4;}
				&offset-5{ margin-left  : (@grid-width-lg-based/12)*5;}
				&offset-6{ margin-left  : (@grid-width-lg-based/12)*6;}
				&offset-7{ margin-left  : (@grid-width-lg-based/12)*7;}
				&offset-8{ margin-left  : (@grid-width-lg-based/12)*8;}
				&offset-9{ margin-left  : (@grid-width-lg-based/12)*9;}
				&offset-10{ margin-left  : (@grid-width-lg-based/12)*10;}
				&offset-11{ margin-left  : (@grid-width-lg-based/12)*11;}
				&offset-12{ margin-left  : (@grid-width-lg-based/12)*12; }
			}
		}
	}
	
	.grid {
		.row-fluid{ 
			.col-lg-{
				&1{ width : 8.3333%; }
				&2{ width : 16.6666%; }
				&3{ width : 24.9999%; }
				&4{ width : 33.3332%; }
				&5{ width : 41.6665%; }
				&6{ width : 50%; }
				&7{ width : 58.3333%; }
				&8{ width : 66.6666%; }
				&9{ width : 74.9999%; }
				&10{ width : 83.3332%; }
				&11{ width : 91.6665%; }
				&12{ width : 100%; }
			}
			
			.col-lg-{
				&offset-1{  margin-left  : 8.3333%; }
				&offset-2{  margin-left  : 16.6666%; }
				&offset-3{  margin-left  : 24.9999%; }
				&offset-4{  margin-left  : 33.3332%; }
				&offset-5{  margin-left  : 41.6665%; }
				&offset-6{  margin-left  : 50%; }
				&offset-7{  margin-left  : 58.3333%; }
				&offset-8{  margin-left  : 66.6666%; }
				&offset-9{  margin-left  : 74.9999%; }
				&offset-10{  margin-left  : 83.3332%; }
				&offset-11{  margin-left  : 91.6665%; }
				&offset-12{  margin-left  : 100%; }
			}
		}
	}
}
